/* css styles */

main {
  colour: blue;
}

header {
  color:yellow;
}

footer {
  color:yellow;
}

body {
  color:green;
  border-radius: 5px;
}


end {
  color:orange;
}

button {
  color:orange;
  border-radius: 10px;
}

button2 {
  color:green;
  border-radius: 10px;
}
