/* css styles */

.main {
  colour: blue;
}

.start {
  colour: green;
  border-radius: 10px;
}

.header {
  color:yellow;
  border-radius: 30px;
}

.header2 {
  color: red;
  border-radius: 25px;
}

.body {
  color:green;
  border-radius: 5px;
  border-bottom: 5px;
  background-color: blue;
}

.button {
  color: red;
  border-radius: 10px;
}

.button2 {
  color: yellow;
  border-radius: 10px;
}
