/* css styles */

.main {
	colour: blue;
}

.section1 {
	colour: purple;
	border-radius: 15px;
	background-color: blue;
  border-top: 10px;
}

.section2 {
	colour: lime;
	border-radius: 15px;
	background-color: blue;
  border-top: 10px;
}

.body {
	color: green;
	border-radius: 5px;
	border-bottom: 5px;
	background-color: blue;
	margin-left: 100px;
	margin-top: 70px;
}

.button {
	color: red;
	border-radius: 10px;
	background-color: blue;
}

.button2 {
	color: lime;
	border-radius: 10px;
	background-color: blue;
}

.footer {
	color: lime;;
	background-color: red;
  margin-bottom: 10px;
}
